################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Compilador C#/FileContentIndex/38c0c891-307e-4171-9a51-2fe526d2ce7d.vsidx
/.vs/Compilador C#/FileContentIndex/395aeb67-687e-4a18-9041-421569d77419.vsidx
/.vs/Compilador C#/FileContentIndex/5068560a-0019-4f1e-b051-e32fafa818c8.vsidx
/.vs/Compilador C#/FileContentIndex/823a3d82-6cfc-4d33-87b1-b7945aff634d.vsidx
/.vs/Compilador C#/FileContentIndex/f7b30c42-477f-4ad4-8a48-8b6d4b4c9e90.vsidx
